<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        .checked {
            color: orange;
        }
        </style>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Royal Casino</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css">
    <style>
.page-holder {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover !important;
}
    .logo-list {
        padding: 20px 0;
        text-align: center;
    }
    .logo-list img {
        display: inline-block;
        max-width: 85%;
        padding: 15px 0;
        transition: all 0.3s ease-in-out;
        -webkit-filter: grayscale(100);
        -moz-filter: grayscale(100);
        filter: grayscale(100);
    }
    .logo-list img:hover {
        filter: none;
        transform: scale(1.2);
        -webkit-filter: none;
        -moz-filter: none;
    }
    </style>
</head>
<style>
    body {text-align: center;}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class= "navbar-toggler", type="button" data-toggle="collapse" data-target="#navbar" >
            <span class="navbar-toggler-icon"></span>
         </button> 
         <div class="collapse navbar-collapse" id="navbar">
             <div class="navbar-nav">
                 {% if user.is_authenticated %}
                 <a class="nav-item nav-link" id="home" href="/">Home</a>
                 <a class="nav-item nav-link" id="profile" href="/button-request">Profile</a>
                 <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                 {% endif %}
             </div>
         </div>
     </nav>
    <div style="background: url(https://images.unsplash.com/photo-1518895312237-a9e23508077d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80)" class="page-holder bg-cover">
    <div class="container">
        
        <img src="http://static.tumblr.com/9fa27876308b63fc494168755ab4817d/36ppvph/A5amtat0j/tumblr_static_ace_of_spades_symbol.png" alt="logo" />
        <h1 class="text-white">
            TOP 5 Real Money Online Casino Bonus List
        </h1>

        <h2 style="color: white; font-size: 15px">
            Play on the slots for real money at trusted casinos in Europe. Claim your exclusive wellcome bonus and start playing slots today!
        </h2>

        <h3 style="color: white; font-size: 15px">
            10,302 Claimed Bonuses And Continuing!
        </h3>
            <!-- Logo List Section -->

    </div>
    <div class="container bg-dark">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6">
                <h1 style="font-size: 20px; color:white;">Casino</h1>  
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <h1 style="font-size: 20px; color:white;">Wellcome Bonus</h1>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <h1 style="font-size: 20px; color:white;">User Rating</h1>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <h1 style="font-size: 20px; color:white;"></h1>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <h1 style="font-size: 20px; color:white;">Rating</h1>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <h1 style="font-size: 20px; color:white;">Play Now</h1>
            </div>
            
        </div>
    </div>

    <section class="logo-list">
        <div class="container bg-white">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="#"><img src="https://www.utvunderground.com/wp-content/uploads/2013/07/south-point-logo.png" class="img-fluid" alt="south point logo"></a>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-1">
                    <h1 style="font-size: 13px;">100% Up to</h1>
                    <h2 style="font-size: 25px;">€1500</h2>
                    <h3 style="font-size:13px">+150 Free Spins</h3>
                    <h4 style="font-size:13px">+500 Free Points</h4>
                </div>
                
                <div class="col-lg-2 col-md-4 col-6 mt-4">
                    <h1 style="font-size: 13px;">Rating (2891)</h1>
                    <h2><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </h2>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-4">

                    <h1>10.0</h1>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <form action="/button-request" method="POST">
                        <input type="hidden" name="ButtonID" value="SouthPoint" class="btn-success col-md-6 mt-4"></input>
                        <input type="submit" value="Play" class="btn-success col-md-6 mt-4"></input>
                    </form>
                </div>
            </div>
        </div>
    </section> 
    <section class="logo-list">
        <div class="container bg-white">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="#"><img src="https://vulkanvegastop.com/wp-content/uploads/2021/04/vulkan-vegas-casino-logo.png" class="img-fluid" alt="Vulkan Vegas logo"></a>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-1">
                    <h1 style="font-size: 13px;">200% Up to</h1>
                    <h2 style="font-size: 25px;">€500</h2>
                    <h3 style="font-size:13px">+20 Free Spins</h3>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-4">
                    <h1 style="font-size: 13px;">Rating (2063)</h1>
                    <h2><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </h2>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-4">
                    <h1>9.9</h1>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <form action="/button-request" method="POST">
                        <input type="hidden" name="ButtonID" value="VulkanVegas" class="btn-success col-md-6 mt-4"></input>
                        <input type="submit" value="Play" class="btn-success col-md-6 mt-4"></input>
                    </form>
                </div>
            </div>
        </div>
    </section> 
    <section class="logo-list">
        <div class="container bg-white">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="#"><img src="https://datadomain.hr/wp-content/uploads/2019/12/marina_bay_sands.png" class="img-fluid" alt="marina bay sands logo"></a>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-1">
                    <h1 style="font-size: 13px;">200% Up to</h1>
                    <h2 style="font-size: 25px;">€3,000</h2>
                    <h3 style="font-size:13px">+30 Free Spins</h3>
                    
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-4">
                    <h1 style="font-size: 13px;">Rating (1975)</h1>
                    <h2><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </h2>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-4">
                    <h1>9.8</h1>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <form action="/button-request" method="POST">
                        <input type="hidden" name="ButtonID" value="MarinaBay" class="btn-success col-md-6 mt-4"></input>
                        <input type="submit" value="Play" class="btn-success col-md-6 mt-4"></input>
                    </form>
                </div>
            </div>
        </div>
    </section> 
    <section class="logo-list">
        <div class="container bg-white">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="#"><img src="https://www.wyndhamhotels.com/content/dam/creative-images/en-us/ce/flat/misc/_caesars_palace_las_vegas.svg?downsize=680:*" class="img-fluid" alt="cesars palace logo"></a>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-1">
                    <h1 style="font-size: 13px;">100% Up to</h1>
                    <h2 style="font-size: 25px;">€200</h2>
                    <h3 style="font-size:13px">+125 Free Spins</h3>
  
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-4">
                    <h1 style="font-size: 13px;">Rating (1092)</h1>
                    <h2><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </h2>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-4">
                    <h1>9.4</h1>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <form action="/button-request" method="POST">
                        <input type="hidden" name="ButtonID" value="CesarsPalace" class="btn-success col-md-6 mt-4"></input>
                        <input type="submit" value="Play" class="btn-success col-md-6 mt-4"></input>
                    </form>
                </div>
            </div>
        </div>
    </section> 
    <section class="logo-list">
        <div class="container bg-white">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="#"><img src="https://www.americancasinoguidebook.com/wp-content/uploads/2008/06/1396_el-cortez-134816626674.png" class="img-fluid" alt="el cortez logo"></a>
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-1">
                    <h1 style="font-size: 13px;">Wellcome Bonus</h1>
                    <h2 style="font-size: 25px;">€250</h2>
                    <h3 style="font-size:13px">+20 Free Spins</h3>
                    
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-4">
                    <h1 style="font-size: 13px;">Rating (1816)</h1>
                    <h2><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </h2>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                </div>
                <div class="col-lg-2 col-md-4 col-6 mt-4">
                    <h1>9.3</h1>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <form action="/button-request" method="POST">
                        <input type="hidden" name="ButtonID" value="ElCortez" class="btn-success col-md-6 mt-4"></input>
                        <input type="submit" value="Play" class="btn-success col-md-6 mt-4"></input>
                    </form>
                </div>
            </div>
        </div>
    </section> 
    <!-- End Logo List Section -->
</div>
    <!-- Bootstrap JS -->
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>

    </body>
</html>