
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Royal Casino</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class= "navbar-toggler", type="button" data-toggle="collapse" data-target="#navbar" >
                <span class="navbar-toggler-icon"></span>
             </button> 
             <div class="collapse navbar-collapse" id="navbar">
                 <div class="navbar-nav">
                     <a class="nav-item nav-link" id="home" href="/">Home</a>
                     <a class="nav-item nav-link" id="profile" href="my-profile">Profile</a>
                     <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                 </div>
             </div>
         </nav>

        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css">
    <style>
.page-holder {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover !important;
}
    .logo-list {
        padding: 20px 0;
        text-align: center;
    }
    .logo-list img {
        display: inline-block;
        max-width: 85%;
        padding: 15px 0;
        transition: all 0.3s ease-in-out;
        -webkit-filter: grayscale(100);
        -moz-filter: grayscale(100);
        filter: grayscale(100);
    }
    .logo-list img:hover {
        filter: none;
        transform: scale(1.2);
        -webkit-filter: none;
        -moz-filter: none;
    }
    </style>
</head>
<style>
    body {text-align: center;}
</style>
<body>
    <div style="background: url(https://images.unsplash.com/photo-1518895312237-a9e23508077d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80)" class="page-holder bg-cover">
    <div class="container">
        
        <img src="http://static.tumblr.com/9fa27876308b63fc494168755ab4817d/36ppvph/A5amtat0j/tumblr_static_ace_of_spades_symbol.png" alt="logo" />
        <h1 class="text-white">
            TOP 5 Real Money Online Casino Bonus List
        </h1>

        <h2 style="color: white; font-size: 15px">
            Play on the slots for real money at trusted casinos in Europe. Claim your exclusive wellcome bonus and start playing slots today!
        </h2>

        <h3 style="color: white; font-size: 15px">
            10,302 Claimed Bonuses And Continuing!
        </h3>
        <h4><form method="POST">
            <h3 style="color: white" align="center">Sign Up</h3>
            <div class="form-group">
                <label style="color: white" for="email">Email Address</label>
                <input
                 type="email"
                 class="form-control"
                 id="email"
                 name="email"
                 placeholder="Enter email address"
                 />
            </div>
            <div class="form-group">
                <label style="color: white" for="firstName">First Name</label>
                <input
                 type="text"
                 class="form-control"
                 id="firstName"
                 name="firstName"
                 placeholder="Enter first name"
                 />
            </div>
            <div class="form-group">
                <label style="color: white" for="lastName">Last Name</label>
                <input
                 type="text"
                 class="form-control"
                 id="lastName"
                 name="lastName"
                 placeholder="Enter last name"
                 />
            </div>
            <div class="form-group">
                <label style="color: white" for="password1">Password</label>
                <input
                 type="password"
                 class="form-control"
                 id="password1"
                 name="password1"
                 placeholder="Enter password"
                 />
            </div>
            <div class="form-group">
                <label style="color: white" for="password2">Password (Confirm)</label>
                <input
                 type="password"
                 class="form-control"
                 id="password2"
                 name="password2"
                 placeholder="Confirm password"
                 />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form></h4>

</div>
    <!-- Bootstrap JS -->
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
